<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=525, user-scalable=yes"/>
    <link href="../../build/icons/256x256.png" rel="icon" type="image/x-icon" />
    <title>test</title>
  </head>
  <body>
      <nav class="navbar navbar-toggleable-md navbar-expand-sm bg-dark navbar-dark">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <!-- Brand -->
          <a class="navbar-brand" href="#">Test</a>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" data-view="media" href="#">Medienübersicht</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-view="user" href="#">Benutzerübersicht</a>
            </li>
          </ul>
          </div>
        </nav>            
        <div id="content" class="mt-2">
            <div id="media">
                <table id="media_table" class="table nowrap table-striped table-bordered" cellspacing="0" width="100%"></table>                     
            </div>
            <div id="user" class="hidden">
                <table id="user_table" class="table nowrap table-striped table-bordered" cellspacing="0" width="100%"></table>                  
            </div>
        </div>
  </body>
</html>
